<div class="d-flex justify-content-center">
  <app-load-spinner *ngIf="!ready"></app-load-spinner>
</div>
<div class="d-flex justify-content-center w-100" *ngIf="ready">
  <div class="card w-75">
    <div class="card-body">
      <p class="card-title strong small">{{comment.by ? comment.by : "[deleted]"}}</p>
      <p class="card-subtitle mb-2 text-muted small">Posted at: {{comment.time*1000 | date: "medium"}}</p>
      <p class="card-text small" [innerHTML]="comment.text ? comment.text : '[deleted]'"></p>
      <button class="card-link small" *ngIf="comment.kids" (click)="showChildren()">More Comments</button>
    </div>
  </div>
</div>
<app-comments [comments]="subComments | async" *ngIf="ready && comment.kids"></app-comments>